__pycache__*
modulestoinstall/*[.]*
lift_url.py
ui_lang.py
*~
userlogs/*
test*wav
test.py
excess/
images/archive
images/scaled
images/openclipart.org/*/*
xcf
backupBeforeLx2LcConversion
.txt
.7z
.zip
.ChorusRescuedFile
.git
.hg
.tar.gz
.whl
*.pdf
*.xcf
XLingPaperPDFTemp/**
*backupBeforeLx2LcConversion
*.txt
*.7z
*.zip
*ori
__pycache__/**
*(copy)*
userlogs/**
*test*wav
excess/**
images/archive/**
images/scaled/**
reports/**
*.ChorusNotes
*.WeSayUserMemory
*.WeSayConfig*
*.WeSayUserConfig
*.ChorusRescuedFile
*.git
*.ini
secrets.py
*.lift*txt
bin/
