[Desktop Entry]
Name=AZT
Comment=Dictionary checker 
Exec=/usr/bin/python3 $HOME/azt/main.py
Icon=$HOME/azt/images/AZT green stacks_transparent_sm.png
Terminal=false
NoDisplay=true
Type=Application
StartupNotify=true
StartupWMClass=azt
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.2.1
X-Ubuntu-Gettext-Domain=nautilus
