[Desktop Entry]
Name=AZT
Comment=Dictionary & Orthography checker
Exec=/usr/bin/python3.12 ~/azt/main.py
Icon=azt
#Terminal=false
Type=Application
#StartupNotify=true
StartupWMClass=azt
